@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1783596698484') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangyishoushangyige:before {
  content: "\e78a";
}

.icon-xiayigexiayishou:before {
  content: "\e7a5";
}

.icon-bofang:before {
  content: "\e613";
}

.icon-gezhi:before {
  content: "\e6c9";
}

.icon-wancheng:before {
  content: "\e64b";
}

.icon-youjiantou:before {
  content: "\e620";
}

.icon-zuojiantou:before {
  content: "\e621";
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-paoqi:before {
  content: "\e6ca";
}

.icon-rili:before {
  content: "\e614";
}

.icon-a-shoucangyishoucang:before {
  content: "\e659";
}

.icon-a-shoucang_quxiaoshoucang:before {
  content: "\e671";
}

.icon-Filled_Star:before {
  content: "\e548";
}

.icon-shoucang-yishoucang:before {
  content: "\e50b";
}

